@tailwind base;
@tailwind components;
@tailwind utilities;


* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For Safari, iOS, and Android */
	-webkit-tap-highlight-color: transparent; /* For other browsers supporting -webkit-tap-highlight-color property */
	padding: 0;
	border: 0;
	box-sizing: border-box;
	margin: 0;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms; 
	transition-duration: 300ms; 
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
	scroll-behavior: smooth;
}

::selection {
	background-color: black;
	color: white;
}

body {
	font-family: WorkSansRegular;
  	line-height: normal;
	transition: all .3s;
}

img, button {
	user-select: none;
}

.footer-item {
	position: relative;
	transition: all .3s ease-in;
}

.footer-item:hover::after {
	position: absolute;
	right: 0;
	content: '';
	width: 100%;
	height: 1px;
	background: black;
	bottom: 0;
}

.bg-first {
	background: linear-gradient(234deg, #0D1E20 -73.12%, #313E2A 53.36%, #262D20 103.17%), #FFF;
}
  
.bg-details {
	background: linear-gradient(90deg, #323E2A 0%, #101815 100%); 
}
  
.bg-header {
	background: linear-gradient(180deg, rgba(240, 242, 245, 0.00) 0.02%, #F0F2F5 220.8%);
}
  
.bg-cta {
	background: linear-gradient(90deg, #CC522B 0%, #FF6636 100%);
}

.gradient {
	background: var(--personal-gradiant-gradiant-2, linear-gradient(90deg, #F8FAFF 0%, #EEF4FF 44.4%, #FFECEC 100%)); 
}

.gradient2 {
	background: var(--personal-gradiant-grediant-1, linear-gradient(80deg, #F8D9D8 0.47%, #F5F6F7 22.95%, #F5F6F7 47.97%, #F5F6F7 73.13%, #F3DFED 100.83%)); 
}

.project1 {
	background: var(--personal-gradiant-gradiant-3, linear-gradient(75deg, #E7F3F2 0%, #EBF4F8 52.07%, #DFEEF9 102.02%)); 
}

.project2 {
	background: var(--personal-gradiant-gradiant-4, linear-gradient(75deg, #F5E9F1 0%, #EBF4F8 52.07%, #F7E3E2 102.02%)); 
}

.project3 {
	background: var(--personal-gradiant-gradiant-5, linear-gradient(75deg, #F4E8F3 0%, #F3EFF6 52.07%, #EEE0F9 102.02%)); 
}

.btn {
	background: var(--personal-gradiant-gradiant-4, linear-gradient(75deg, #F5E9F1 0%, #EBF4F8 52.07%, #F7E3E2 102.02%)); 
}

.bg-shayna-hero {
	background-image: url('./assets/shaynaHero.jpeg');
}  

.bg-9hwi {
	background: linear-gradient(293deg, #E6E6E4 7.23%, #F0E8E2 97.74%); 
}

/* Work Sans Fonts */

@font-face {
	font-family: WorkSansLight;
	src: url('./fonts/worksans/WorkSansLight.ttf') format('opentype');
}

@font-face {
	font-family: WorkSansRegular;
	src: url('./fonts/worksans/WorkSansRegular.ttf') format('opentype');
}

@font-face {
	font-family: WorkSansMedium;
	src: url('./fonts/worksans/WorkSansMedium.ttf') format('opentype');
}

@font-face {
	font-family: WorkSansSemiBold;
	src: url('./fonts/worksans/WorkSansSemiBold.ttf') format('opentype');
}

@font-face {
	font-family: WorkSansBold;
	src: url('./fonts/worksans/WorkSansBold.ttf') format('opentype');
}

@font-face {
	font-family: WorkSansExtraBold;
	src: url('./fonts/worksans/WorkSansExtraBold.ttf') format('opentype');
}

@font-face {
	font-family: WorkSansBlack;
	src: url('./fonts/worksans/WorkSansBlack.ttf') format('opentype');
}

